<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1086811119922-t37am431oob3sg27u1qcfqb7lb5c1jnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086811119922-t37am431oob3sg27u1qcfqb7lb5c1jnk</string>
	<key>API_KEY</key>
	<string>AIzaSyD0DE8QxnUYExdnJHl2ONw17mgnJuKO73A</string>
	<key>GCM_SENDER_ID</key>
	<string>1086811119922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BonBon.SmallBusiness</string>
	<key>PROJECT_ID</key>
	<string>smallbusiness-ba149</string>
	<key>STORAGE_BUCKET</key>
	<string>smallbusiness-ba149.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086811119922:ios:47826c7442247956</string>
	<key>DATABASE_URL</key>
	<string>https://smallbusiness-ba149.firebaseio.com</string>
</dict>
</plist>